@font-face {
  font-family: "D2CodingLigature Nerd Font";
  font-style: normal;
  font-weight: normal;
  src: url('https://github.com/geomgle/fonts/D2CodingLigatureNerdFont-Regular.ttf') format('truetype');
}
