@font-face {
  font-family: "JetBrainsMono Nerd Font";
  font-style: normal;
  font-weight: 200;
  src: url('https://github.com/geomgle/fonts/D2CodingligatureNerd.ttf') format('truetype');
}

@font-face {
  font-family: "JetBrainsMono Nerd Font";
  font-style: normal;
  font-weight: 400;
  src: url('https://github.com/geomgle/fonts/D2CodingligatureNerd.ttf') format('truetype');
}


@font-face {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: 800;
  src: url('https://github.com/geomgle/fonts/D2CodingligatureNerd-Bold.ttf') format('truetype');
}
